node_modules
.pnpm-store
/PRODELIVERY.md
/docs/delivery/
.turbo
.next
dist
coverage
out
build

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Test artifacts
*.tsbuildinfo
next-env.d.ts
playwright-report/
test-results/

# Prisma generated client
packages/db/node_modules/.prisma
*.timestamp-*.mjs
